@font-face {
  font-family: 'Sakalangkong';
  src: url('./Sakalangkong.ttf') format('truetype');
  /* Autres propriétés de la police (optionnelles) */
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-color: #D85651;
}

#header{
  background-color: #FEF9FF;
}

#red {
  background-color: #D85651;
}

#pink {
  color: #FEF9FF;
}

#bgpink{
  background-color: #FEF9FF;
}

#button{
  color: #FEF9FF;
  background-color: #55D6BE;
}

#bg-blue{
  background-color: #55D6BE;
}

#button-red {
  color: #FEF9FF;
  background-color: #D85651;
}

#color-blue{
  color: #55D6BE
}

.button{
  color: #FEF9FF;
  background-color: #55D6BE;
}